<div class="flex-1 card_responsivo mt-5">
  <div
    class="flex-column justify-content-between w-full align-items-end header-content mb-1"
  >
    <h1 class="align-self-center div_buttons">
      {{ isEdit ? "Edição de " : "Cadastro de " }} Perguntas Frequentes
    </h1>

    <div class="justify-content-end flex div_buttons">
      <p-button
        pRipple
        styleClass="p-button-text mr-2 p-button-plain p-button-sm "
        icon="pi pi-arrow-left"
        (onClick)="goBack()"
        label="VOLTAR"
      ></p-button>

      <p-button
        pRipple
        icon="pi pi-refresh"
        styleClass="p-button-sm p-button-text p-button-primary mr-1"
        (onClick)="onClear()"
        label="LIMPAR"
      ></p-button>

      <p-button
        pRipple
        styleClass="p-button-sm"
        icon="pi pi-check"
        [disabled]="this.form?.invalid"
        label="SALVAR"
        (onClick)="handleSave()"
      ></p-button>
    </div>
  </div>
  <div class="text-left">
    <app-faq-cadastro-form
      [form]="form"
      [scopes]="_scopes"
      [actualScope]="_actualScope"
      [whitelist]="_whitelist"
      (tagsEmitter)="handleSearchTags($event)"
    >
    </app-faq-cadastro-form>
  </div>
</div>
<p-toast></p-toast>
