.card-header {
  text-align: justify;
}
.image-responsive {
  height: 45vh;
}
.truncate-text { 
  overflow: hidden;
  text-overflow: ellipsis;
  // white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .image-responsive {
    height: 30vh;
  }
 
}

@media only screen and (max-width: 320px) {
  .image-responsive {
    height: 30vh;
  } 
}
