<div style="display: flex; flex-direction: column;">

  <div style="display: flex; flex-direction: row; justify-content: end;">
    <button pButton type="button" label="CADASTAR NOVA FAQ" (click)="showFaqDialog()"></button>
  </div>
  
  <div *ngIf="table" style="margin-left: 30%; margin-right: 30%;">
    <table style="width: 100%; border-collapse: collapse;" >
      <tbody>
        <tr *ngFor="let question of questions">
          <app-faq-detail   [question]="question.content" [answer]="question.response"></app-faq-detail>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-dialog 
  [(visible)]="displayDialog" 
  [modal]="true" 
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [blockScroll]="true"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onShow(false)"
  (onShow)="onShow(true)"
>
  <app-faq-cadastro 
    (cadastroEmitter)="update($event)"
    [faqData]="faqToEdit" 
    [scopes]="scopes"
  ></app-faq-cadastro>
</p-dialog>

<div class="faq-list">
 
</div> 