<div class="border-1 p-3 border-200 border-round">
  <div class=" l-form-header text-left border-round p-2 mb-2 w-full">
    <span class="l-form-header mb-3">Guia rápido</span>
  </div>
  <form [formGroup]="form">
    <div class="guide-header mb-2 border-1 border-300 border-round p-2">
      <p class="text-left">
        Use o editor de texto abaixo para escrever instruções claras e concisas
        que irão guiar os usuários. Você pode formatar o texto, adicionar
        títulos, listas e até mesmo inserir imagens para tornar seu guia mais
        visualmente atraente. Lembre-se de que este guia rápido será uma
        referência útil para os usuários, portanto, seja objetivo e forneça
        informações relevantes.
      </p>
    </div>
    <p-editor
      class="w-full"
      formControlName="guiaDocument"
      [style]="{ height: '320px' }"
    ></p-editor>
  </form>
</div>
