<div>
  <div class="guide-header">
    <p class="text-left">
      Use o editor de texto abaixo para escrever instruções claras e concisas
      que irão guiar os usuários. Você pode formatar o texto, adicionar títulos,
      listas e até mesmo inserir imagens para tornar seu guia mais visualmente
      atraente. Lembre-se de que este guia rápido será uma referência útil para
      os usuários, portanto, seja objetivo e forneça informações relevantes.
    </p>
  </div>
  <p-editor class="w-full" [style]="{ height: '320px' }"></p-editor>
</div>
