<div class="border-1 p-3 border-200 border-round">
  <form [formGroup]="form">
    <div class="guide-header text-left">
      <p-accordion class="p-4">
        <p-accordionTab header="Orientações">
          <div class="w-full border-1 border-200 p-4 border-round">
            <p>
              Aqui você pode inserir diferentes tipos de documentos, como
              vídeos, PDFs ou arquivos Excel. Para garantir que tudo ocorra de
              maneira eficiente, siga estas orientações:
            </p>

            <span class="l-form-header py-2 px-1">Selecione o arquivo:</span>
            <p>
              Clique no botão "Anexar" para procurar e selecionar o documento
              que deseja enviar. Verifique se o documento está em um formato
              compatível.
            </p>
            <span class="l-form-header py-2 px-1"
              >Descreva o resumo do documento:</span
            >
            <p>
              Digite uma breve descrição ou resumo do documento. Isso ajudará
              outros usuários a entenderem o conteúdo do arquivo sem precisar
              abri-lo. Inclua informações-chave, como o assunto principal ou as
              principais conclusões do documento.
            </p>
            <span class="l-form-header py-2 px-1">Insira tags relevantes:</span>
            <p>
              Digite palavras-chave ou tags que descrevam o conteúdo do
              documento. As tags facilitam a busca e a categorização dos
              documentos. Separe as tags com vírgulas e use palavras que sejam
              relevantes e específicas.
            </p>
            <span class="l-form-header py-2 px-1">Revisão final:</span>
            <p>
              Antes de enviar o documento, verifique se todas as informações
              estão corretas. Certifique-se de que o arquivo selecionado é o
              correto e revise a descrição e as tags para garantir que elas
              reflitam adequadamente o conteúdo do documento.
            </p>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>
    <div class="mb-3">
      <div class="flex">
        <label class="mb-1 text-500">Título</label>
      </div>
      <input
        pInputText
        class="p-inputtext-sm p-inputtext-outlined" 
        formControlName="title"
      />
    </div>
    <div class="flex">
      <label class="mb-1 text-500">Selecione o arquivo</label>
    </div>
    <div class="mb-2">
      <p-fileUpload
        #fileUpload
        id="float-fileUpload"
        chooseLabel="Anexar"
        cancelLabel="Cancelar"
        class="col-12 text-left"
        name="demo[]"
        [multiple]="false"
        accept="application/pdf,.csv, image/*, application/vnd.ms-excel" 
        (onSelect)="onShowUpload()"
        [customUpload]="true"
        (onClear)="onClear()"
        (onRemove)="onClear()"
        [showUploadButton]="false"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="mb-3">
      <div class="flex">
        <label class="mb-1 text-500">Insira as tags</label>
      </div>
      <lib-tag-input
        [whitelist]="_whitelist"
        (characterInputed)="handleSearchTags($event)"
        (tagsEmitter)="handleSearchTags($event)"
      ></lib-tag-input>
    </div>
    <div class="flex">
      <label class="mb-1 text-500">Descrição do documento</label>
    </div>
    <textarea
      class="w-full"
      formControlName="description"
      rows="5"
      cols="30"
      pInputTextarea
    ></textarea>
  </form>
</div>
