<div class="m-2 container_cards">
  <div class="mr-2 text-right pb-2">
    <p-menu
      [showTransitionOptions]="'0ms'"
      [hideTransitionOptions]="'0ms'"
      #menu
      [popup]="true"
      [model]="items"
    ></p-menu>
    <button
      type="button"
      pButton
      icon="pi pi-plus" 
      label="CADASTRAR"
      [disabled]="_loading"
      (click)="menu.toggle($event)"
    ></button>
  </div>
  <div class="flex-row grid justify-content-center md:flex">
    <div *ngFor="let file of searchObject" class="sm:col-12 md:col-6 lg:col-6">
      <app-cards [search]="file" (emitTag)="handleClickTag($event)">
      </app-cards>
    </div>
  </div>
  <p-scrollTop class="bg-blue-300"  [threshold]="200"></p-scrollTop>
</div>
