// PrimeNg

@import '../../node_modules/primeicons/primeicons.css';
@import '../../node_modules/primeng/resources/primeng.min.css';
@import '../../node_modules/quill/dist/quill.core.css';
@import '../../node_modules/quill/dist/quill.snow.css';
@import '../../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css';

// PrimeFlex
$gutter: 0.714286rem !default;
$fieldMargin: 1.42857rem !default;
$fieldLabelMargin: 0.5rem !default;
$helperTextMargin: 0.5rem !default;
$spacer: 1.42857rem !default;
@import '../../node_modules/primeflex/primeflex.css';

@import '~@angular/cdk/overlay-prebuilt.css';

.cdk-overlay-container {
  z-index: 100000 !important;
}

// PrimeNg:custom mdc-light-indigo theme
:root {
  --surface-a: var(--white);
  --surface-b: #fafafa;
  --surface-c: rgba(0, 0, 0, 0.04);
  --surface-d: rgba(0, 0, 0, 0.12);
  --surface-e: var(--white);
  --surface-f: var(--white);
  --text-color: var(--black);
  --text-color-secondary: var(--grey);
  --primary-color: var(--primary);
  --primary-color-text: var(--white);
  --font-family: 'Cabin';
}

.p-dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-multiselect-items-wrapper .cdk-virtual-scroll-viewport {
  overflow-x: hidden;
}

.p-dropdown-items-wrapper .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.p-datatable-hoverable-rows .p-selectable-row {
  cursor: default !important;
}

label.p-invalid {
  color: var(--error);
}

.p-tooltip {
  // min-width: 300px !important;
}

textarea {
  min-height: 100px;
  overflow: auto !important;
}

.p-field label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-size: 0.85714rem;
  color: var(--grey);
}

.l-main-grid {
  max-width: 1440px;
  margin: calc(#{$gutter} * -1) auto;
  padding: 0 $gutter;
}

.l-form-header {
  background: var(--lighter-grey);
  color: var(--grey);
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.75rem;
  border: 0 none;
  color: var(--black);
  background: var(--lighter-grey);
  font-weight: 400;
  border-radius: 4px;
  transition: none;
}
.p-accordion p-accordiontab .p-accordion-tab {
  margin-bottom: 0;
  box-shadow: none !important;
}
