// PrimeNg

@import "../../node_modules/primeicons/primeicons.css";
@import "../../node_modules/primeng/resources/primeng.min.css";
@import "../../node_modules/quill/dist/quill.core.css";
@import "../../node_modules/quill/dist/quill.snow.css";
@import "../../node_modules/primeng/resources/themes/mdc-light-indigo/theme.css";

// PrimeFlex
$gutter: 0.714286rem !default;
$fieldMargin: 1.42857rem !default;
$fieldLabelMargin: 0.5rem !default;
$helperTextMargin: 0.5rem !default;
$spacer: 1.42857rem !default;
@import "../../node_modules/primeflex/primeflex.css";

@import "~@angular/cdk/overlay-prebuilt.css";

.cdk-overlay-container {
  z-index: 100000 !important;
}

// PrimeNg:custom mdc-light-indigo theme
:root {
  --surface-a: var(--white);
  --surface-b: #fafafa;
  --surface-c: rgba(0, 0, 0, 0.04);
  --surface-d: rgba(0, 0, 0, 0.12);
  --surface-e: var(--white);
  --surface-f: var(--white);
  --text-color: var(--black);
  --text-color-secondary: var(--grey);
  --primary-color: var(--primary);
  --primary-color-text: var(--white);
  --font-family: "Cabin";
}

.p-dropdown-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-multiselect-items-wrapper .cdk-virtual-scroll-viewport {
  overflow-x: hidden;
}

.p-dropdown-items-wrapper .cdk-virtual-scroll-content-wrapper {
  width: 100%;
}

.p-datatable-hoverable-rows .p-selectable-row {
  cursor: default !important;
}

label.p-invalid {
  color: var(--error);
}

.p-tooltip {
  // min-width: 300px !important;
}

textarea {
  min-height: 100px;
  overflow: auto !important;
}

.p-field label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-size: 0.85714rem;
  color: var(--grey);
}

.l-main-grid {
  max-width: 1440px;
  margin: calc(#{$gutter} * -1) auto;
  padding: 0 $gutter;
}

.l-form-header {
  background: var(--lighter-grey);
  color: var(--grey);
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  padding: 0.75rem;
  border: 0 none;
  color: var(--black);
  background: var(--lighter-grey);
  font-weight: 400;
  border-radius: 4px;
  transition: none;
}
.p-accordion p-accordiontab .p-accordion-tab {
  margin-bottom: 0;
  box-shadow: none !important;
}
.p-toast {
  text-align: left;
  opacity: 1;
  width: 28rem !important;
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: var(--spacer);
  border-width: 0 0 0 0;
  padding-left: calc(var(--spacer) + 2rem);
  color: var(--grey);
}

.p-toast .p-toast-message {
  position: relative;
  border: 1px solid var(--light-grey);
}

.p-toast .p-toast-message .p-toast-message-content::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 100%;
  top: 0;
  left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  position: absolute;
  top: 0;
  right: calc(var(--gutter) / 2);
  margin-top: calc(var(--gutter) / 2);
  color: var(--grey) !important;
}

.p-toast
  .p-toast-message.p-toast-message-info
  .p-toast-message-content::before {
  background: var(--info);
}

.p-toast
  .p-toast-message.p-toast-message-success
  .p-toast-message-content::before {
  background: var(--success);
}

.p-toast
  .p-toast-message.p-toast-message-warn
  .p-toast-message-content::before {
  background: var(--alert);
}

.p-toast
  .p-toast-message.p-toast-message-error
  .p-toast-message-content::before {
  background: var(--error);
}

.p-toast .p-toast-message.p-toast-message-success {
  background: #c8e6c9dc;
  // background: var(--white) !important;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: var(--success);
}
.p-toast .p-toast-message.p-toast-message-error {
  background: #ffcdd2d6;
  // background: var(--white) !important;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: var(--error);
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: #ffecb3cb;
  // background: var(--white) !important;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: var(--alert);
}
.p-toast .p-toast-message.p-toast-message-info {
  background: #b3e5fccc;
  // background: var(--white) !important;
  border: solid transparent;
  border-width: 0 0 0 0;
  color: var(--info);
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: var(--success);
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: var(--alert);
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: var(--error);
}

.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: var(--info);
}
.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  background: var(--lighter-grey);
  border-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
