<div
  class="card bg-white border-1 border-gray-300 text-center p-4 border-round shadow-1 m-2"
>
  <div
    class="flex text-left flex pl-1 text-gray-700 w-full p-2 border-round l-form-header"
  >
    <div class="pl-2">
      <i class="pi pi-folder pr-1"></i>
      <i class="pi pi-angle-right"></i>
    </div>

    <div class="capitalize pr-1 cursor-pointer font-light">
      <!-- (click)="emitTag.emit(file)" -->
      {{ document?.properties["dc:source"] | wordConverter }}
    </div>
  </div>
  <div class="w-full pt-2"></div>
  <div class="pb-2 text-justify">
    <div class="text-gray-800" style="font-size: 1.1rem;">
      {{ document?.properties["dc:title"] | truncateText : 30 }}
    </div>
  </div>
  <div>
    <img
      class="w-full border-1 border-gray-200 border-round image-responsive"
      src="{{ document?.thumbnail }}"
    />
    <div class="flex pt-1 text-justify">
      <div *ngFor="let file of document.properties['nxtag:tags']" li-index>
        <p-tag
          class="uppercase border-white border-right-1 cursor-pointer font-bold"
          value="#{{ file.label }}"
          (click)="emitTag.emit(file)"
        ></p-tag>
      </div>
    </div>
    <div class="w-12 h-5rem">
      <p class="text-gray-800 pb-3 text-justify">
        {{ document?.properties["dc:description"] | truncateText : 150 }}
      </p>
    </div>
    <div class="text-sm text-gray-600 text-left">
      <i class="pi pi-calendar-minus"></i>
      Atualizado: {{ document.properties["dc:modified"] | date : "short" }}
    </div>
    <div class="w-full border-top-1 border-gray-200 my-2"></div>
    <div class="w-full mb-2 text-right">
      <div class="flex justify-content-end">
        <button
          pButton
          pRipple
          (click)="handleDelete()"
          label="EXCLUIR"
          type="button"
          icon="pi pi-trash"
          [disabled]="isActionBtnDisabled"
          class="p-button-text p-button- p-button-danger p-button-sm l-button mr-1"
        ></button>
        <button
          pButton
          pRipple
          (click)="handleUpdate()"
          label="EDITAR"
          type="button"
          pInitEditableRow
          icon="pi pi-pencil"
          [disabled]="isActionBtnDisabled"
          class="p-button-text p-button- p-button-primary p-button-sm p-mr-1 l-button mr-1"
        ></button>
        <app-material-detail [documentId]="document.id"> </app-material-detail>
      </div>
    </div>
  </div>
</div>
