<div class="flex-1 card_responsivo mt-4">
  <div
    class="flex justify-content-between w-full align-items-end header-content"
  >
    <h1 class="text-4xl">Cadastro de Documentos</h1>
    <div>
      <p-button
        styleClass="p-button-text mr-2"
        icon="pi pi-arrow-left"
        (onClick)="goBack()"
        label="VOLTAR"
        class=""
      ></p-button>
      <p-button
        icon="pi pi-check"
        (onClick)="handleSave()"
        [disabled]="this._form?.get('documentForm')?.invalid"
        label="SALVAR"
      ></p-button>
    </div>
  </div>
  <div class="w-full mt-4">
    <p-card>
      <app-documento-cadastro-form
        [form]="_form.get('documentForm')"
      ></app-documento-cadastro-form>
    </p-card>
  </div>
</div>
