<div class="m-2 container_cards">
  <div class="mr-2 mt-4 text-right pb-2">
    <p-menu
      [showTransitionOptions]="'0ms'"
      [hideTransitionOptions]="'0ms'"
      #menu
      [popup]="true"
      [model]="items"
    ></p-menu>
    <button
      type="button"
      pButton
      icon="pi pi-plus"
      label="CADASTRAR"
      [disabled]="_loading"
      (click)="menu.toggle($event)"
    ></button>
  </div>

  <div
    *ngIf="content$ | async; else logo"
    class="flex-row grid mt-1 justify-content-center md:flex"
  >
    <div *ngFor="let file of searchObject" class="sm:col-12 md:col-6 lg:col-6">
      <app-cards
        [document]="file"
        [isActionBtnDisabled]="_isActionBtnDisabled"
        (emitTag)="handleClickTag($event)"
        (deleteEmitter)="deleteDocument($event)"
        (updateEmitter)="updateDocument($event)"
      >
      </app-cards>
    </div>
  </div>
  <ng-template #logo>
    <div class="w-full flex text-center z-2 gladio__logo">
      <div class="align-self-center" style="z-index: -1">
        <img
          class="w-5"
          src="assets/images/gladio-alado-3d.png"
          alt="gladio alado"
        />
      </div>
    </div>
  </ng-template>

  <p-scrollTop class="bg-blue-300" [threshold]="200"></p-scrollTop>
</div>
